*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.container{
  width: 60%;
  margin: auto;
}

/********* ///GLOBAL ***********/

nav {
  position: fixed;
  width: 100%; 
  min-width: 800px;
  background-color: white;
  height: 70px;
  line-height: 70px;
  overflow:hidden;
  z-index: 999;
}

nav ul li a{
  display: inline-block;
  vertical-align: middle;
  line-height: 70px;
}

nav ul, nav div{
  display: inline-block;
}

nav ul li {
  vertical-align: center;
  display: inline-block; 
  margin: 0 20px;
}

.left-nav {
  float: left;
  overflow: hidden;
}

.right-nav{
  float: right;
  overflow: hidden;
}

button{
  background-color: #0061FF;
  padding:10px 20px;
  border: 0;
  color: white;
}

button:hover{
  cursor: pointer;
}

nav div a{
  vertical-align: middle;
  border-left: 20px;
  text-decoration: none;
  color:black;
  text-align: center;
}

nav div ul li a:hover {
  z-index: 20;
  border-bottom: 5px solid black;
}

#img-logo{
  margin: 0 25px;
}

/* ************ /HEADER************ */

.jumbotron {
  background-color: #B4D0E7;
  height: 680px;
  margin: auto ;
  margin-bottom: 150px;
}

.container-jumbo{
  width: 80%;
  margin: auto;
}

.jumbotron h1{
  font-size: 70px;
  padding-top: 70px;
  font-weight: bold;
  margin-bottom: 40px;
}

.left-jumbotron, .right-jumbotron {
  float: left;
}

.left-jumbotron{
  position: relative;
  width: 25%;
  margin-right: 80px;
}

.right-jumbotron{
  width: 60%;
}

.right-jumbotron img{
  width: 100%;
}

.text button{
  margin-top: 25px;
  margin-bottom: 10px;
}

.text:last-child{
  font-size: 12px;
}

.fa-arrow-down{
  font-size: 30px;
  color: #000;
  margin-top: 40px;
}

/*************  Jumbotron ************/

.container h2{
  font-size: 40px;
  margin-bottom: 50px;
}

